.blue-feedback01 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.Roqquians {
    font-family: "TitlingGothicFB Normal";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: aliceblue;
    position: absolute;
    top: 0;
    z-index: 10;
}

.left2 {
    position: relative;
    width: 70%;
    height: 150px;
}

.card-Feedback {
    background-color: black;
    padding: 50px;
    /* display: grid; */
}

.Roqquians01 {
    color: #fff;
}

.Card-design {
    color: #fff;
    color: black;
    padding: 20%;
}

.card-human03 {
    background-color: #fff;
    width: 30%;
    border-radius: 20px;
    width: 90%;
    /* display: flex; */
}

.card-design02 {
    display: flex;
    justify-content: center;
    /* width: 50%; */
}

.card-human {
    position: relative;
}

.card-human02 {
    width: 20%;
    position: absolute;
    left: 30px;
    top: -10px;
}

.card-human02 img {
    width: 100%;
}

.Roqquian001 {
    font-size: 200px;
    display: none;
    color: #fff;
}

@media screen and (max-width: 400px) {
    .card-container04 {
        flex-direction: column;
        width: 20rem;
        padding: 15px;
    }
    .left {
        width: 100%;
    }
    .Develophim {
        font-size: 12px;
    }
    .card-container04 .left h1 {
        font-size: 17px;
    }
    .list {
        display: flex !important;
        flex-direction: column !important;
    }
    .right {
        width: 100%;
        height: 50%;
    }
    .card-design02 {
        display: flex;
        flex-direction: column;
    }
    .Roqquians {
        font-size: 20px;
    }
    .blue-feedback01 {
        flex-direction: column;
    }
    .Roqquians001 {
        font-size: 20rem;
        color: #fff;
        display: none;
    }
    .Roqquians {
        font-size: 40px;
        line-height: 30px;
        margin-right: 10rem;
    }
}