.footer-container {
    background-color: black;
    padding: 50px;
}

.botcolor {
    border: none;
    border-radius: 5px;
}

.footer-container01 {
    /* width: 40%; */
}

.footer-container02 {
    display: flex;
    gap: 30px;
}

.rock {
    margin-top: 50px;
}

.latest01 {
    color: gray;
    font-family: "Visby";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.emailbutton {
    color: gray;
    background-color: #2a2c44;
    border: none;
    border-radius: 15px;
    padding: 20px;
    width: 40%;
}

.addressbutton {
    width: 100%;
    border: 1px solid;
    border-radius: 20px;
}

.tills {
    display: flex;
    gap: 40px;
    margin-top: 25px;
}

.tilted {
    background-color: blue;
    border: none;
    border-radius: 50%;
    width: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.foot {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.foot-left {
    width: 60%;
}

.table {
    color: #a7b1bc;
    display: flex;
    width: 50%;
    justify-content: space-between;
    font-family: "Visby";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.rights {
    color: #a7b1bc;
    justify-content: space-between;
    display: flex;
    font-family: "Visby";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: "pnum" on, "lnum" on;
}

@media screen and (max-width: 400px) {
    .footer-container02 {
        height: 8rem;
        margin-bottom: 80px;
    }
    .botcolor {
        margin-top: 80px;
    }
    .addressbutton {
        margin-top: 5px;
    }
    .table {
        margin-top: 80%;
        flex-direction: row-reverse;
        /* margin-right: 60rem; */
    }
    .rights {
        flex-direction: column;
    }
}