.blue01 {
    display: flex;
    justify-content: space-between;
}

.Hubcolor {
    color: blue;
}

.card-container06 {
    width: 82%;
    margin: 20px auto;
    /* padding: 70px; */
}

.buttoncol {
    color: #ffff;
    background-color: black;
    border: none;
    border-radius: 10px;
    /* padding: 1%; */
    width: 40px;
    text-align: center;
}

.spaces {
    font-family: "Visby";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.listings {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 50%;
    margin-right: 20%;
    padding: 0;
}

.card-laptop {
    background-color: #fff;
    border: none;
    border-radius: 20px;
    display: grid;
}

.card-container07 {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 15px;
    font-family: "Visby";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.more {
    width: 100px;
    height: 50px;
    background-color: #fff;
    color: blue;
    border: none;
    border-radius: 10px;
}

.card-image {
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.Volatility {
    padding: 30px;
}

.bitcoincash {
    list-style: none;
    display: none;
}

@media screen and (max-width: 400px) {
    .card-container06 {
        flex-direction: column;
        width: 20rem;
        padding: 15px;
    }
    .Hubcolor {
        padding: 7px;
        font-size: 15px;
        margin-right: 35px;
    }
    .blue01 h1 {
        font-size: 25px;
    }
    .spaces {
        font-size: 15px;
    }
    .bitcoincash {
        list-style: none;
        display: none;
        justify-content: space-between;
        width: 50%;
        margin-right: 20%;
        padding: 0;
        flex-direction: column;
    }
    .listings {
        /* display: none; */
        /* list-style: none; */
        /* justify-content: space-between; */
        /* width: 50%; */
        /* margin-right: 20%; */
        /* padding: 0; */
        /* flex-direction: column; */
    }
    .card-laptop {
        flex-direction: column;
    }
    /* .Volatility {
        flex-direction: column;
    } */
    .card-imageimg {
        max-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        object-fit: cover;
        object-position: 50% 50%;
        /* flex-direction: column; */
        flex-direction: column !important;
    }
    .card-container07 {
        display: flex;
        flex-direction: column;
    }
}